body{
    background-image: url('/obligatorio-feb-23/src/imagenes/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


/* main{
    background-color: rgba(255, 255, 255,0.8);
} */
footer{
    background-color: yellow;
}
/* #movimientos{
    background-color: blue;
}

#ingreso{
    background-color: red;
}

#gasto{
    background-color: orange;
}
#graficas{
    background-color: green;
}

#totales{
    background-color: purple;
} */
h1{
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 72px;
}
h4{
    margin-top: 10px;
    text-align: center;
}




 section{

    background-color: rgba(255, 255, 255,0.8);
    border-radius: 4%;
    margin:1%;
} 






