body{
    
    background-image: url('../imagenes/fondo1.jpg');
}
h1{
    
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 72px;
}

button {
    margin-top: 15px;
    background-color:rgba(11, 183, 68,0.9)!important;
    height: 60px ;

   
}

div{
    margin-top:300px   

}